body { background: #702115; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 13px; display: flex; }
.block-search-0 { color: #687652; font-size: 20px; margin-bottom: 5px; }
.block-token-1 { color: #9031ab; font-size: 19px; margin-bottom: 5px; }
.block-cart-2 { color: #68cfd4; font-size: 21px; margin-bottom: 5px; }
.block-email-3 { color: #69da3c; font-size: 18px; margin-bottom: 5px; }
.block-helper-4 { color: #7eb100; font-size: 14px; margin-bottom: 5px; }